@charset "utf-8";

DIV.red-tabele {
  background: #FFF; border: hidden #000000 1px; color: #000000;
  text-align: left; width: 100%;
  padding-right: 1em;
}

DIV.linija {
  border-bottom:hidden;
  border-left:hidden;
  border-right:hidden;
  border-top:solid #06F 1px;
}

DIV.datum {
	vertical-align:top;
	margin-top:-10px;
}

DIV.supljina-velika {
  	border-top:solid #FFF 50px;
}

/*Stil za polja tabele*/

DIV.link {
	font:Georgia, "Times New Roman", Times, serif;
	text-align:left;
	font-weight:bold;
	font-size: 20px;
}
DIV.link a:link {color:#06F; text-decoration:none;}      /* unvisited link */
DIV.link a:visited {color:#90C; text-decoration:none;}  /* visited link */
DIV.link a:hover {color:#09F; text-decoration:none;}  /* mouse over link */
DIV.link a:active {color:#0000FF; text-decoration:none;}

P.tekst {
  padding-left:10px;
  font-style: normal; font-size: 1em; text-indent: 0;
}

P.tekst-sjena {
  font:Verdana, Geneva, sans-serif;
  font-size:13px;
  font-weight:400;
  color:#999;
  vertical-align:middle;
}


	
IMG.slika {
	vertical-align:bottom;
}
