.calendar-wrapper{
    position:relative; left:0px; top:0px; width:100%; height: auto; background: rgba(0,0,0,0.02); border-radius: 3px; display: inline-flex; overflow: hidden; justify-content: space-between;
    font-family: 'Nunito', sans-serif;
}

.calendar-wrapper .this-day{
    position:absolute; right:0px; top:0px; width:320px; height: 100%; background: rgba(0,0,0,0.05);
}
.calendar-wrapper .this-day h5{font-size:16px; margin-left:20px; margin-top:15px; margin-bottom:0px; color:#0066FF; margin-right:15px;}
.calendar-wrapper .this-day h2{font-family: 'Nunito', sans-serif; margin-left:20px; margin-top:10px; font-size:24px; margin-right:15px;}
.calendar-wrapper .this-day .items-wrapper{position:relative; left:10px; top:0px; width:calc(100% - 20px); height: calc(100% - 240px); margin-top:20px; overflow-y: auto;}

.calendar-wrapper .this-day .items-wrapper .single-item{padding:5px 10px 5px 10px; position:relative; left:0px; top:0px; width:100%; margin-bottom:10px;}
.calendar-wrapper .this-day .items-wrapper .single-item:hover{cursor: pointer; background: #FAFAFA;}
.calendar-wrapper .this-day .items-wrapper .single-item p{font-family: 'Nunito', sans-serif; font-size:16px; font-weight: bold; margin:0px;}
.calendar-wrapper .this-day .items-wrapper .single-item span{color:grey; font-size:14px;}
.calendar-wrapper .this-day .add-new-today{position:relative; left:20px; top:0px; width:calc(100% - 40px); height: 32px; background: #0099FF; display: inline-flex; justify-content: center;}
.calendar-wrapper .this-day .add-new-today:hover{cursor: pointer;}
.calendar-wrapper .this-day .add-new-today p{font-size:15px; margin:0px; padding-top:5px; color:#fff; font-weight: bold;}
.calendar-wrapper .this-day .add-new-today i{font-size:14px; padding-top:8px; margin-right:10px; color:#fff;}


/* Calendar options */

.calendar-wrapper .calendar{
    position:relative; left:0px; top:0px; width:calc(100% - 340px); height: 100%; padding-bottom:20px;
    display: inline-flex;
    flex-wrap: wrap;
}
.calendar-wrapper .calendar .calendar-header{
    position:relative; left:20px; top:0px; width:calc(100% - 20px); height: 80px;
    margin-top:15px;
}
.calendar-wrapper .calendar .calendar-header h1{font-family: 'Nunito', sans-serif; font-size:30px; margin:0px; padding-top:10px;}
.calendar-wrapper .calendar .calendar-header h1 span{font-weight:normal;}
.calendar-wrapper .calendar .calendar-header .buttons{
    position:absolute; right:0px; height: 30px; display: inline-flex; border:1px solid rgba(0,0,0,0.1);
    border-radius:2px; top:16px;
}
.calendar-wrapper .calendar .calendar-header .buttons .arrow-button{position:relative; width:30px; height: 30px; text-align: center;}
.calendar-wrapper .calendar .calendar-header .buttons .arrow-button:hover{cursor:pointer;}
.calendar-wrapper .calendar .calendar-header .buttons .arrow-button i{font-size:20px; padding-top:5px;}
.calendar-wrapper .calendar .calendar-header .buttons .text-button{
    position:relative; height: 25px; border-right:1px solid rgba(0,0,0,0.1); border-left:1px solid rgba(0,0,0,0.1);
    font-size:16px; padding-left:20px; padding-right:20px; padding-top:5px; font-weight: bold;
}
.calendar-wrapper .calendar .calendar-header .buttons .text-button:hover{cursor:pointer;}

/******************************************* CALENDAR ROWS AND COLS ***************************************************/
.calendar-wrapper .calendar .calendar-body{
    position:relative; left:0px; top:0px; width:100%; height: auto;
}
.calendar-wrapper .calendar .calendar-body .calendar-row {
    position: relative;
    left: 20px;
    top: 0px;
    width: calc(100% - 20px);
    height: 100px;
    display: inline-flex;
    justify-content: space-between;
    margin: 0px;
    padding: 0px;
}
.calendar-wrapper .calendar .calendar-body .small-row{height: 30px;}
.calendar-wrapper .calendar .calendar-body .small-row .calendar-col{text-align: center; font-weight: bold; font-size:14px; padding-top:5px;}

.calendar-wrapper .calendar .calendar-body .calendar-row:nth-child(1){border-top: 1px solid rgba(0, 0, 0, 0.1);}
.calendar-wrapper .calendar .calendar-body .calendar-row .calendar-col {
    position: relative;
    left: 0px;
    top: 0px;
    width: 15%;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    border-left: 1px solid rgba(0, 0, 0, 0.1);
    border-right: none;
    border-top: none;
    margin: 0px;
}
.calendar-wrapper .calendar .calendar-body .calendar-row .calendar-col:first-child{background: rgba(0,0,0,0.05);}
.calendar-wrapper .calendar .calendar-body .calendar-row .calendar-col:last-child{border-right:1px solid rgba(0,0,0,0.1); background: rgba(0,0,0,0.05);}
.calendar-wrapper .calendar .calendar-body .calendar-row .calendar-col p{position:absolute; left:10px; top:5px; font-weight: bold;}

.calendar-wrapper .calendar .calendar-body .calendar-row .calendar-col .cv-events{ position: absolute; left:10px; width: calc(100% - 20px); top: 30px; height: calc(100% - 35px); }
.calendar-wrapper .calendar .calendar-body .calendar-row .calendar-col .cv-events .cv-e-event{ position: relative; left:0px; background: #0B8043; display: inline-flex; margin-right:2px; margin-bottom:2px; padding:3px 5px 3px 5px; border-radius:2px;}
.calendar-wrapper .calendar .calendar-body .calendar-row .calendar-col .cv-events .cv-e-event-2{background: #7986CB; }
.calendar-wrapper .calendar .calendar-body .calendar-row .calendar-col .cv-events .cv-e-event h5{font-size:11px; margin: 0px; width: auto; color:#fff; }
.calendar-wrapper .calendar .calendar-body .calendar-row .current-day p{color:#0099FF;}

.calendar-wrapper .calendar .calendar-body .calendar-row .calendar-col:hover{background: rgba(0,0,0,0.1); cursor: pointer;}




/*** Full day preview ***/

.calendar-wrapper .calendar .full-day-preview{
    position: absolute; left:0px; top:0px; width:100%; height: 100%; background: #FAFAFA; z-index: 100;
}

.calendar-wrapper .calendar .full-day-preview .header-of-day{position: relative; left:0px; top:0px; width:100%; background: rgba(0,0,0,0.05); height: 60px; border-bottom:1px solid rgba(0,0,0,0.1);}
.calendar-wrapper .calendar .full-day-preview .header-of-day h2{
    font-family: 'Nunito', sans-serif; margin:0px 0px 0px 20px; font-size:22px; padding-top:14px;
}
.calendar-wrapper .calendar .full-day-preview .header-of-day .day-actions{
    position:absolute; right: 20px; height: 30px; width: 500px; top:15px; display: inline-flex; justify-content: flex-end;
}
.calendar-wrapper .calendar .full-day-preview .header-of-day .inside-element{
    position:relative; margin-left:5px; height: 26px; text-align: center; border:1px solid rgba(0,0,0,0.1); top:1px; border-radius:2px; display: inline-flex;
}
.calendar-wrapper .calendar .full-day-preview .header-of-day .inside-element p{
    font-family: 'Nunito', sans-serif; font-size:14px; margin:0px 20px 0px 5px; font-weight: bold; padding-top:4px;
}
.calendar-wrapper .calendar .full-day-preview .header-of-day .inside-element i{margin-left:20px; font-size:16px; padding-top:5px;}
.calendar-wrapper .calendar .full-day-preview .header-of-day .inside-element .fa-plus{font-size: 12px; padding-top:7px;}
.calendar-wrapper .calendar .full-day-preview .header-of-day .inside-element:hover{cursor:pointer; }

.calendar-wrapper .calendar .full-day-preview .single-day-body{
    position: relative; left: 0px; top: 0px; width: 100%; height: calc(100% - 60px); overflow-y: auto;
}
.calendar-wrapper .calendar .full-day-preview .single-day-body .events-wrapper{
    position: relative; left:0px; top:0px; width: 100%; height: 1440px;
}

.calendar-wrapper .calendar .full-day-preview .single-day-body::-webkit-scrollbar { display: none; }
/* Hide scrollbar for IE, Edge and Firefox */
.calendar-wrapper .calendar .full-day-preview .single-day-body { -ms-overflow-style: none;  /* IE and Edge */ scrollbar-width: none;  /* Firefox */ }

.calendar-wrapper .calendar .full-day-preview .single-day-body .events-wrapper .hours{
    position: absolute; left:0px; top:0px; width:100%; height: 59px;
}
.calendar-wrapper .calendar .full-day-preview .single-day-body .events-wrapper .hours .hour{
    position: absolute; left:0px; top:0px; width:50px; height: 100%; border-right:1px solid rgba(0,0,0,0.05);
}
.calendar-wrapper .calendar .full-day-preview .single-day-body .events-wrapper .hours .event-elem{
    position: absolute; left:30px; width:calc(100% - 30px); height: 100%; border-bottom:1px solid rgba(0,0,0,0.05);
    padding-left:30px;
}
.calendar-wrapper .calendar .full-day-preview .single-day-body .events-wrapper .hours .hour p{position: absolute; font-family: 'Nunito', sans-serif; font-size:10px; font-weight: bold; right:4px; top: 4px; margin:0px;}

.calendar-wrapper .calendar .full-day-preview .single-day-body .events-wrapper .event-short-preview{
    position: absolute; left:50px; top:120px; width: calc(100% - 50px); height: 60px; background-color: rgb(121, 134, 203); border-radius:3px;
}
.calendar-wrapper .calendar .full-day-preview .single-day-body .events-wrapper .event-short-preview h4{font-size:12px; color:#fff; margin-left:20px; margin-top:3px; font-weight:bold; margin-bottom:0px;}
.calendar-wrapper .calendar .full-day-preview .single-day-body .events-wrapper .event-short-preview p{font-size:10px; margin-left:20px; margin-top:0px; color:#fff;}
.calendar-wrapper .calendar .full-day-preview .single-day-body .events-wrapper .current-time-line{position: absolute; left:50px; width: calc(100% - 50px); height: 1px; background: red; top: 100px; z-index:1000;}
.calendar-wrapper .calendar .full-day-preview .single-day-body .events-wrapper .event-short-preview .event-actions{position: absolute; right:20px; top:10px; width: 50px; height: 20px; max-height: calc(100% - 10px); display: inline-flex; justify-content: flex-end;}
.calendar-wrapper .calendar .full-day-preview .single-day-body .events-wrapper .event-short-preview .event-actions .ea-d,
.calendar-wrapper .calendar .full-day-preview .single-day-body .events-wrapper .event-short-preview .event-actions .ea-u{position: relative; top:0px; width: 20px; height: 100%; text-align: center;}
.calendar-wrapper .calendar .full-day-preview .single-day-body .events-wrapper .event-short-preview .event-actions .ea-d i,
.calendar-wrapper .calendar .full-day-preview .single-day-body .events-wrapper .event-short-preview .event-actions .ea-u i{color:#fff; transition: 0.2s all;}
.calendar-wrapper .calendar .full-day-preview .single-day-body .events-wrapper .event-short-preview .event-actions .ea-u i{color:#ECC471;}
.calendar-wrapper .calendar .full-day-preview .single-day-body .events-wrapper .event-short-preview .event-actions .ea-d:hover,
.calendar-wrapper .calendar .full-day-preview .single-day-body .events-wrapper .event-short-preview .event-actions .ea-u:hover{cursor: pointer;}
.calendar-wrapper .calendar .full-day-preview .single-day-body .events-wrapper .event-short-preview .event-actions .ea-d:hover i,
.calendar-wrapper .calendar .full-day-preview .single-day-body .events-wrapper .event-short-preview .event-actions .ea-u:hover i{cursor: pointer; color:#b30000;}
.calendar-wrapper .calendar .full-day-preview .single-day-body .events-wrapper .event-short-preview .event-actions .ea-u:hover i{color:#0B8043;}
/*** Add new event ***/
.calendar-wrapper .add-new-event-wrapper{position: absolute; left:0px; top:0px; width: 100%; height: 100%; display: none;}
.calendar-wrapper .add-new-event-wrapper .day-form{position: absolute; width: 360px; left:calc(50% - 180px);  z-index: 1000; top:calc(50% - 250px); height: 500px; background: #fff; border-radius:3px;
    box-shadow:  0 0 10px 5px rgba(0,0,0,0.2);
    -moz-box-shadow: 0 0 10px  5px rgba(0,0,0,0.2);
    -webkit-box-shadow: 0 0 10px 5px rgba(0,0,0,0.2);
    -o-box-shadow: 0 0 10px 5px rgba(0,0,0,0.2);
}
.calendar-wrapper .add-new-event-wrapper .day-form:hover{cursor: pointer;}
.custom-textarea{height: 120px !important;}


.form-control::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: rgba(0,0,0,0.3);
}

.form-control:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: red;
}

.form-control::-ms-input-placeholder { /* Microsoft Edge */
    color: red;
}
